@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

html{
  &.dark{
    --epr-bg-color: #1f1f1f;
  }
  *{
    @apply transition-colors duration-100;
  }
}

.gradient-background{
  background: radial-gradient(at 74% 49%, hsla(23,88%,71%,1) 0px, transparent 50%),
  radial-gradient(at 93% 30%, hsla(287,65%,68%,1) 0px, transparent 50%),
  radial-gradient(at 36% 34%, hsla(331,90%,60%,1) 0px, transparent 50%),
  radial-gradient(at 21% 64%, hsla(246,89%,68%,1) 0px, transparent 50%),
  radial-gradient(at 4% 24%, hsla(14,69%,72%,1) 0px, transparent 50%),
  radial-gradient(at 28% 48%, hsla(232,99%,77%,1) 0px, transparent 50%),
  radial-gradient(at 87% 80%, hsla(340,72%,63%,1) 0px, transparent 50%);

  background-image: url("https://lh3.googleusercontent.com/186ZGdDhTLrvBaobO6wvilzpbjD45K7I9ifjwvk9Qt2HetzkWX0W5BN3Vi0tMYKDQPa11rbghe1m1syRvVbZhkZDajHhxQNc9B_pcCBrVVGvMEOZc-k=w2400-rj");
  background-size: cover;
  scale: -1;
  background-position: center center;
  background-repeat: no-repeat;
  filter: hue-rotate(110deg);
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  // background: #2e333820;
}

::-webkit-scrollbar-thumb {
  $color: #4c4e53;
  background: $color;
  // border-radius: 15px;
  &:hover{
    background: darken($color, 15%);
  }
}